

<div id="content">

            <ul>
              <li><b><u class="title">Contact</u></b></li><br>
              <li>(337) 769-4440  </li>
              <li>5818 Johnston St, </li>
              <li> Lafayette, LA 70503</li>
          </ul>
            <div id="name">
                 —  MAZEN GRILL  —
            </div>
            <ul>
                <li><b><u class="title">Hours</u></b></li><br>
                <li>Mon–Thu  4–9</li>
                <li>Fri–Sat  4–10</li>
                <li>Sun  Closed</li>
            </ul>

        </div>